body {
    background-color: #FDF9F9;
    font-family: "Major Mono Display";
    margin: 0px;
}

main {
    height: calc(100vh - 340px);
    padding-top: 150px;
    padding-bottom: 150px;

    padding-left: 2rem;
    padding-right: 2rem;

    display:flex;
    flex-direction: column;
    gap: 5rem;
}

h1 {
    margin: 0px;
    font-size: 72px;
    text-align: center;
}

p {
  margin: 0px;
  display: inline;
  font-family: "Montserrat"
}

a {
  margin: 0px;
  display: inline;
  font-family: "Montserrat";
  color: black;
  text-decoration: none;
}

input {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

    background: unset;

    width: 100%;

    border-bottom: 1px solid black;
    border-top: none;
    border-right: none;
    border-left: none;

    font-size: 36px;
    font-family: "Major Mono Display";
}

input:focus-visible {
    outline: none;
}

.text-primary {
  font-family: "Major Mono Display"
}

.text-bold {
  font-weight: 700;
}

.text-lg {
  font-size: 48px;
  line-height: 48px;
}

.text-md {
  font-size: 24px;
  line-height: 30px;
}

.text-sm {
  font-size: 20px;
  line-height: 24px;
}

footer {
    margin: 0px;
    box-sizing: border-box;
    background: #E6C7C7;

    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

footer div {
}

section.result {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.result p {
  margin-left: 1rem;
}

.github-icon {
  display: inline-block;

  position: absolute;
  right: 1rem;
}
